body, html{
	width: 100%;
	height: 100%;
	font-family: "Courier New", Courier, monospace;
	overflow: hidden;
}

.form_section{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 60%;
}

.input_label, .input_field, .errors, .next_button{
	width: 100%;
	margin: 20px;
	font-size: 25px;
}


.signup_input{
	width: 80%;
	height: 40px;
	font-size: 30px;
	color: #0574FA;
	outline: none;
	border:none;
	border-bottom: solid #0574FA;
	border-width: 2px;
	background: #f5f5f5;
}

.errors ul{
	list-style: none;
}
.errors{
	color: red;
}

.next_button a, .submit_form{
	height: 40px;
	color: #fff;
	font-weight: 700;
}

.next_button a{
	display: none;/*javascript will change this*/
	text-decoration: none;
	background: #0574FA;
	width: 200px;
	padding: 20px;
}

.submit_form{
	display: none; /*javascript will change this*/
	width: 400px;
	background: #FA8B05;
	color: #fff;
	border:none;
	font-size: 30px;
}

.submit_form:hover{
	cursor: pointer;
}

.message_div{
	width: 100%;
	color: red;
	font-size: 20px;
}
@media(max-width: 500px){

	.row{
		width: 100%;
	}
	
	.submit_form{
		width: 200px;
	}

	.input_label, .input_field, .errors, .next_button{
		font-size: 16px;
	}

	.signup_input{
		font-size: 16px;
	}

	.submit_form{
		font-size: 18px;
	}

	.message_div{
		font-size: 16px;
	}
}