{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>ChamaZilla</title>
</head>
<body>
	<section class="app_section mockup_section" id = "mockup_section">

		<div class = "navbar">

			<div class = "logo hide_on_mobile">
				<a href="#">CHAMAZILLA</a>
			</div>

			<div class = "nav_links">

				<a href = "#mockup_section">HOME</a>
				<a href = "#features_section" class="hide_on_mobile">FEATURES</a>

				<!-- if user is authenticated-->
				{% if user.is_authenticated %}
					<a href = "{% url 'dashboard' %}">DASHBOARD</a>
					<a href = "{% url 'logout' %}">LOG OUT</a>
				{% else %}
				<!--if user is not authenticated-->
					<a href = "{% url 'login' %}">LOG IN</a>
				{% endif %}

			</div>

		</div><!--End of navigation bar div-->

		<div class = "row home_row align_center">

			<div class = "column text_column">
				<h1 class = "info_heading white_font">Management of chamas made easier</h1>
				<p class = "info_paragraph white_font">ChamaZilla is a service that helps investment groups manage their activities with ease.</p>
				{% if user.is_authenticated %}
					<a class = "signup_link" href = "{% url 'dashboard' %}">GO TO DASHBOARD</a>
				{% else %}
					<a class = "signup_link" href = "{% url 'signup'%}">TRY CHAMAZILLA FREE</a>
				{% endif %}
			</div>

			<div class="column image_column hide_on_mobile">
				<img class = "app_mockup" src="{% static '/images/mockup.png' %}">
			</div>

		</div>

	</section>

	<section class = "app_section features_section" id = "features_section">

		<div class = "row align_center">
			<h1 class = "info_heading black_font">With ChamaZilla you can</h1>
		</div>

		<div class = "row features_row align_center">

			<div class = "column features_column align_center">
				<img src = "{% static '/images/group.png' %}" width="50%" height="50%">
				<h2>Manage Members</h2>
			</div>

			<div class = "column features_column align_center">
				<img src = "{% static '/images/loan.png' %}" width="50%" height="50%">
				<h2>Manage Loans</h2>
			</div>

			<div class = "column features_column align_center">
				<img src = "{% static '/images/transaction.png' %}" width="50%" height="50%">
				<h2>Manage Transactions</h2>
			</div>

			<div class = "column features_column align_center">
				<img src = "{% static '/images/fine.png' %}" width="50%" height="50%">
				<h2>Fine Members</h2>
			</div>

			<div class = "column features_column align_center">
				<img src = "{% static '/images/record.png' %}" width="50%" height="50%">
				<h2>Manage records</h2>
			</div>

		</div>

	</section>

	<section class="try_chamazilla align_center">
		<div class = "cta_div align_center">
			{% if user.is_authenticated %}
				<h1 class = "info_heading white_font">Thank you for staying connected</h1>
				<a href="{% url 'dashboard' %}" class = "signup_link">GO TO DASHBOARD</a>
			{% else %}
				<h1 class = "info_heading white_font">Register your group today</h1>
				<p class = "info_paragraph white_font">Sign up now and try ChamaZilla free for 14 days.</p>
		</div>
		<a href="{% url 'signup' %}" class = "signup_link">TRY CHAMAZILLA</a>
			{% endif %}
	</section>

	<footer>
	</footer>

</body>
</html>