{% extends 'member_records/signup.html' %}
{% load static %}

{% block title %}
Login
{%endblock title %}

{% block content %}

<form action = "#" method = "POST" class = "auth_form" id = "login_form">
	{% csrf_token %}
</form>

<section class = "form_section">

	<div class="row">		
			
		<div class = "input_label">
			<label>Enter Your Phone Number</label>
		</div>
			
		<div class = "input_field">
			<input type = "text" class = "signup_input" name = "phone" placeholder = "07XXXXXXXX" form = "login_form" required id = "phone">
		</div>

		<div class = "input_label">
			<label>Enter Your Password</label>
		</div>
			
		<div class = "input_field">
			<input type = "password" class = "signup_input" placeholder="Enter Password here..." name = "password" form="login_form" required id = "password">
		</div>

		<div class="next_button">
			<input type = "submit" value="Log In" class = "submit_form" style="" form = "login_form" required id ="submit_login">
		</div>

		<div class = "message_div" id = "message_div">
			{% for message in messages%}

				<p>{{ message }}</p>

			{% endfor %}
		</div>

	</div>

</section>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/signup.js' %}"></script>
<script type="text/javascript">
	validatePhoneNumber('phone', 'message_div');
	validatePassword('password', 'message_div', 'submit_login');
</script>
{% endblock javascript %}