{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> {% block title %} Home{%endblock title %} | Chama Smart</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
	<!-- Main container div-->
	<div class = "flex_container">

		<!--navigation bar div -->
		<div class = "navbar">
			<a href = "{% url 'index' %}">HOME</a>

			<!-- if user is authenticated -->
			{% if 2 == 2 %}
				<a href = "{% url 'dashboard' %}">DASHBOARD</a>
				<a href = "#">LOG OUT</a>
			{% else %}
				<!-- if user is not authenticated -->
				<a href = "{% url 'signup' %}">LOG IN</a>
				<a href = "{% url 'signup' %}">SIGN UP</a>
			{% endif %}
		</div><!--End of navigation bar div-->

		<div class = row>
			{% block content %}
			{% endblock content %}
		</div>

	</div><!-- End of main container div -->
		
	<!-- footer div -->
	<div class = footer>
		<p>Project by &copy<a href = "https://www.youtube.com/c/technicollins">TechniCollins</a> 2020</p>
	</div> <!-- End of footer div -->

</body>
</html>