{% extends 'dashboard.html' %}

{% block title %} Members {% endblock title %}
{% block mobile_title %}MEMBERSHIP{% endblock mobile_title %}
{% block content %}
	
	<div class="add_record_row">

		<!-- I might be returning this hide/show feature later -
		<div class="show_form_div">
			<button onclick="hideForm()"> Add New Member</button>
		</div> -->

		<div class = "form_div" id = "form_div">
			<form class = "site_form" action = "#" method="POST">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Create" class="submit">
			</form>
		</div>
	</div>

	<div class = "display_records_row">
		<h1> Members List</h1>

		<table class="info_table">
			<tr>
				<th>Member ID</th>
				<th>Member Name</th>
				<th>Actions</th>
			</tr>

			{% for member in members_list %}

				<tr>
					<td> {{ member.memberID }} </td>
					<td> {{ member.firstName }} {{ member.secondName }}</td>
				</tr>
								
				<tr>
					<td></td>
					<td></td>
					<td><a href = "#">view more</a> | <a style = "color: red;" href = "#">Delete</a></td>
				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock content %}