<!DOCTYPE html>
<html>
<head>
	<style>
		#contribution_form{
			width: 300px;
		}
	</style>
	<title>Gret Vision</title>
</head>
<body>
	<center>
		<h1>GRET VISION WOMEN GROUP</h1>
<form>
	<label for="member">member:</label>
	<select name = "member" id = 'contribution_form'>
		<option value="Lilian Otieno">Lilian Otieno</option>
		<option value="Rose Owino">Rose Owino</option>
		<option value="Beatrice Okoth">Beatrice Okoth</option>
		<option value="Sulmena Akinyi">Sulmena Akinyi</option>
		<option value="Mary Anyango">Mary Anyango</option>
		<option value="Donner Achieng">Donner Achieng</option>
		<option value="Margaret Wanjiku">Margaret Wanjiku</option>
		<option value="Cynthia Audrey">Cynthia Audrey</option>
		<option value="Esther Achieng">Esther Achieng</option>
		<option value="Joyce Atieno">Joyce Atieno</option>
		<option value="Mary Sharlvine">Mary Sharlvine</option>
	</select><br><br>
	Amount: <input type="number" name="amount" id = "contribution_form"><br><br>
	Date: <input type = "date" name = "date" id = "contribution_form"><br><br>
	<input type = "submit" name = "submit" id = "contribution_form">
	
</form>
</center>
</body>
</html>