{% extends 'dashboard/dashboard.html' %}

{% block dashboard_active %}{% endblock dashboard_active %}
{% block membership_active %}active{% endblock membership_active %}
{% block transactions_active %}{% endblock transactions_active %}
{% block loans_active %}{% endblock loans_active %}

{% block page_title %}Membership{% endblock page_title %}

{% block content %}

  <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">

            <a style = "color: #fff; cursor: pointer;" href=" {% url 'membersform' %} ">

              <div class="card-icon">
                
                <i class="material-icons">add</i>
              </div>

            </a>
            
            <p class="card-category">ADD</p>
            <h3 class = "card-title"> New Members</h3>

          </div>
          <div class="card-footer">
            <div class="stats">
              Open a form to add members to your group
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title "> MEMBERS </h4>
          <p class="card-category"> PAGE {{ page_object.number }} </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">

                <th>
                  Member Name
                </th>
                <th>
                  Phone Number
                </th>
                <th>
                  Actions
                </th>
              </thead>
              <tbody>

                {% for member in page_object %}

                  <tr>
                    <td>
                      {{ member.user.first_name }} {{ member.user.last_name }}
                    </td>
                    <td>
                      {{ member.user.username }}
                    </td>
                    <td>
                      <a href = "memberpage/{{ member.user.username }}/">More Info</a> | <a style = "color: red;" href = "delete/{{ member.chamaID }}/{{ member.user.username }}/">Remove</a>
                    </td>
                  </tr>

                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
  
{% block javascript %}

{% endblock javascript %}