{% extends 'dashboard/dashboard.html' %}

{% block title %} Members {% endblock title %}
{% block mobile_title %}MEMBERSHIP{% endblock mobile_title %}

{% block content %}

	<div class= "add_record_row">
		<a href = "{% url 'membersform' %}">Add New Member</a>
	</div>
	
	<div class = "display_records_row">
		<!-- confirm user deletion -->
		{% for message in messages %}
			<p style="color:red">{{ message }}</p>
		{% endfor %}

		{% if not members_list %}
			<h1 style="color:red; text-align: center;">No members yet</h1>
		{% else %}

		<table class="info_table">
			<tr>
				<th>Member Name</th>
				<th class = "hide_on_mobile">Phone Number</th>
				<th>Actions</th>
			</tr>

			{% for member in members_list %}

				<tr>
					<td> {{ member.user.first_name }} {{ member.user.last_name }}</td>
					<td class = "hide_on_mobile"> {{ member.user.username }} </td>
					<td><a href = "memberpage/{{ member.user.username }}/">More Info</a> | <a style = "color: red;" href = "delete/{{ member.chamaID }}/{{ member.user.username }}/">Remove</a></td>
				</tr>

				<!--<tr>
					<td class = "hide_on_mobile"></td>
					<td></td>
					<td><a href = "memberpage/{{ member.user.username }}/">More Info</a> | <a style = "color: red;" href = "delete/{{ member.chamaID }}/{{ member.user.username }}/">Remove</a></td>
				</tr>-->

			{% endfor %}

		</table>
		{% endif %}

	</div>

{% endblock content %}