{% load static %}
{% load humanize %} {# to format how funds are displayed #}
{% load tz %} {# to compare datetime, to determine subscription status #}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">
	<title>CS Dashboard |{% block title %} Chama Info {% endblock title %}</title>
</head>
<body>

	<div class = "mobile_title" id = "mobile_title">
		<!--<a id = "reveal_navbar" href="" onclick="revealMobileNavbar()">-->
		<img src="{% static '/images/menu.png' %}" onclick = "revealMobileNavbar()"></a>
		<h2 id = "page_title">{% block mobile_title %}DASHBOARD{% endblock mobile_title %}</h2>
	</div>

	<div class = "dashboard_navbar" id = "dashboard_navbar">
		<div class="app_name">
			<h1>CHAMA SMART</h1><img src="{% static '/images/menu.png' %}" onclick="revealMobileNavbar()">
		</div>

		<a href="{% url 'dashboard' %}"><span><img class = "navbar_icon" src="{% static '/images/question.png' %}"></span>CHAMA INFO</a>
		<a href="{% url 'members' %}"><span><img class = "navbar_icon" src="{% static '/images/group.png' %}"></span>MEMBERSHIP</a>
		<a href="{% url 'loans' %}" ><span><img class = "navbar_icon" src="{% static '/images/money.png' %}"></span>LOANS</a>
		<a href="{% url 'transactions' %}" onclick =><span><img class = "navbar_icon" src="{% static '/images/smartphone.png' %}"></span>TRANSACTIONS</a>
		<a href="{% url 'index' %}" ><img class = "navbar_icon" src="{% static '/images/house.png' %}"><span>HOME</span></a>
	</div>

	<div class= "content" id = "content">

		<div class = "content_row">

			{% block content %}

				<div class = "content_column">

					<div class="info_container">
						<div class = "info_content">
							<div class = "info_title">
								<h1>BASIC INFO</h1>
							</div>

							<table class = "info_table">
								<tr>
									<td><h3>Chama Name</h3></td>
									<td>{{ chamaInfo.chamaName }}</td>
								</tr>

								<tr>
									<td><h3>Members</h3></td>
									<td>{{ members_count }}</td>
								</tr>

								<tr>
									<td></td>
									<td><a href = "{% url 'members' %}">Manage</a></td>
								</tr>

								<tr>
									<td><h3>Date Created</h3></td>
									<td>{{ chamaInfo.regDate }}</td>
								</tr>

								<tr>
									<td><h3>Representative</h3></td>
									<td> {{ chamaInfo.user.username }}</td>
								</tr>
							</table>

						</div>
					</div>
					
					<div class="info_container">
						<div class = "info_content">
							<div class = "info_title">
								<h1>FUNDS</h1>
							</div>
							<table class = "info_table">
								<tr>
									<td><h2 class="funds">{{ chamaInfo.funds | intcomma }}</h2></td>
								</tr>
							</table>
						</div>
					</div>

				</div>

				<div class = "content_column">

					<div class="info_container">
						<div class = "info_content">
							<div class = "info_title">
								<h1>SUBSCRIPTION</h1>
							</div>

							<table class="info_table">
								<tr>
									<td><h3>Subscription Type</h3></td>
									<td>{{ subscription.subscriptionType }}</td>
								</tr>

								<tr>
									<td><h3>Subscription Status</h3></td>

									{% if subscription.endDate.date > today.date%}
									<td style = "color: green"> Active for {{ daysToExpiry }} days, {{ hoursToExpiry }} hours, {{ minutesToExpiry }} minutes</td>
									{% else %}
									<td style="color: red"> Expired</td>
									{% endif %}

								</tr>

								<tr>
									<td><h3>Amount</h3></td>
									<td>{{ subscription.amount }}</td>
								</tr>

								<tr>
									<td> <h3>Start Date</h3></td>
									<td>{{ subscription.startDate }}</td>
								</tr>

								<tr>
									<td><h3>End Date</h3></td>
									<td>{{ subscription.endDate }}</td>
								</tr>							
							</table>

						</div>
					</div>

					<div class="info_container">
						<div class = "info_content">
							<div class = "info_title">
								<h1>RECENT TRANSACTIONS</h1>
							</div>

							{% if not transactions %}

								<p style="color: red; text-align: center; font-size: 20px;">No Transactions yet</p>

							{% else %}

								<table class = "info_table">

								<tr>
									<th>Type</th>
									<th>Member</th>
									<th>Amount</th>
									<th>Time</th>
								</tr>
	
								{% for transaction in transactions %}

									<tr>
										<td>{{ transaction.transactionType }}</td>
										<td>{{ transaction.memberID.firstName }}</td>
										<td>{{ transaction.amount }}</td>
										<td>{{ transaction.transactionDate }}</td>
									</tr>

								{% endfor %}

								</table>

							{% endif %}

						</div>
					</div><!-- End of info_container-->
				</div><!-- End of content_column -->

			{% endblock content %}

		</div><!-- End of content_row -->
	</div><!-- End of container -->

</body>
</html>


<script type="text/javascript">
	function revealMobileNavbar(){
		navbar = document.getElementById("dashboard_navbar");
		if (navbar.style.display != "flex"){
			navbar.style.display = "flex";
		}
		else{
			navbar.style.display = "none";
		}
	}/* Out of all the methods tried to switch between display flex and none, this 
	was the most efficient*/

	function changeContentMargin(mobile_title){
		dashboardNavbar = document.getElementById("dashboard_navbar");
		newContentMargin = (-dashboardNavbar.offsetHeight + mobile_title).toString().concat("px");
		document.getElementById("content").style.marginTop = newContentMargin;
		console.log(newContentMargin);
	}/* use this solution when it's perfectly working */

	/* This function changes the margin of the navigation bar and content div from 
	mobile_title div (if in mobile view) .The goal is to make navbar cover mobile_div
	and content to be exactly below mobile view so that it's not pushed down by navbar*/
	function changeNavbarMargin(){
		mobile_title = document.getElementById("mobile_title");
		if (mobile_title.style.display === "none"){
			console.log("Large device");
		}
		else{
			newNavbarMargin = (-mobile_title.offsetHeight).toString().concat("px");
			console.log(newNavbarMargin);
			document.getElementById("dashboard_navbar").style.marginTop = newNavbarMargin;
			/*changeContentMargin(mobile_title.offsetHeight)*/
		}
	}

	/*Always call this function when page is loaded or resized */
	changeNavbarMargin() /*on load */
	window.onresize = changeNavbarMargin; /* when browser is resized */

</script>