{% extends 'dashboard/dashboard.html' %}

{% block dashboard_active %}{% endblock dashboard_active %}
{% block membership_active %}{% endblock membership_active %}
{% block transactions_active %}{% endblock transactions_active %}
{% block loans_active %}active{% endblock loans_active %}

{% block page_title %}Loans{% endblock page_title %}



{% block content %}
  <div class="row">

    <div class="col-md-7">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Issue Loan</h4>
          <p class="card-category">Record a new loan</p>
        </div>
        <div class="card-body">
          <form method = "POST" action = "#">
          	{% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Member</label>
                  {{ loanForm.memberID }}
                </div>
              </div>
          	</div>
          	<div class = "row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Amount</label>
                  {{ loanForm.amount }}
                </div>
              </div>
            </div>
            <button type="submit" name = "submit_loan" class="btn btn-primary pull-left">Issue Loan</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Loan Settings</h4>
          <p class="card-category">Change interest rate and repayment settings</p>
        </div>
        <div class="card-body">
          <form method = "POST" action = "#" id = "loan_settings_form">
          	{% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Interest Rate (%)</label>
                  <input type="number" id = "interest_rate" step=".01" value="{{ loanSettings.interestRate }}" class="form-control" name = "interest_rate" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Repayment Period (days)</label>
                  <input type="number" id = "repayment_period" value = "{{ loanSettings.repaymentPeriod }}" name = "repayment_period"class="form-control" disabled>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
            <button id = "enable_loan_settings" onclick="enableLoanSettings()" class="btn btn-primary pull-left">Update Settings</button>
            <button id = "hide_loan_settings" onclick="hideLoanSettings()" style="display: none;" class="btn btn-primary pull-left">Cancel</button>
            <button type="submit" id = "submit_loan_settings" style = "display:none;" name = "submit_loan_settings" class="btn btn-primary pull-right" form = "loan_settings_form">Confirm Changes</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">

          <a style = "color: #fff; cursor: pointer;" href=" {% url 'loanspage' %} ">

            <div class="card-icon">
              
              <i class="material-icons">visibility</i>
            </div>

          </a>
          
          <p class="card-category">VIEW</p>
          <h3 class = "card-title"> LOANS ISSUED</h3>

        </div>
        <div class="card-footer">
          <div class="stats">
            See loans that were issued earlier
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}

{% block javascript %}
	<script type="text/javascript">
		function enableLoanSettings(){
			document.getElementById("interest_rate").disabled = false;
			document.getElementById("repayment_period").disabled = false;
			document.getElementById("enable_loan_settings").style.display = "none";
			document.getElementById("hide_loan_settings").style.display = "block";
			document.getElementById("submit_loan_settings").style.display = "block";
			document.getElementById("submit_loan_settings").disabled = false;
		}

		function hideLoanSettings(){
			document.getElementById("interest_rate").disabled = true;
			document.getElementById("repayment_period").disabled = true;
			document.getElementById("hide_loan_settings").style.display = "none";
			document.getElementById("enable_loan_settings").style.display = "block";
			document.getElementById("submit_loan_settings").style.display = "none";
		}
	</script>
{% endblock javascript %}