{% extends 'dashboard/dashboard.html' %}

{% block title %} Members {% endblock title %}
{% block mobile_title %}MEMBERSHIP{% endblock mobile_title %}
{% block content %}
	
	{% for message in messages%}
		<p>{{ message }}</p>
	{% endfor %}

	<div class = "form_div" id = "form_div">
		<form class = "site_form" action = "#" method="POST">
			{% csrf_token %}
			<label>Phone Number : This will be the member's password</label>
			<input type="text" name="phone" required>
			<label>First Name</label>
			<input type="text" name="first_name" required>
			<label>Last Name</label>
			<input type="text" name="last_name" required>
			<input type="submit" value="Add Member" class="submit">
		</form>
		{{ form.errors }}
	</div>

{% endblock content %}