{% extends 'dashboard/dashboard.html' %}

{% block dashboard_active %}{% endblock dashboard_active %}
{% block membership_active %}active{% endblock membership_active %}
{% block transactions_active %}{% endblock transactions_active %}
{% block loans_active %}{% endblock loans_active %}

{% block page_title %}Membership{% endblock page_title %}



{% block content %}
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">New Member</h4>
                  <p class="card-category">Add a new member</p>
                </div>
                <div class="card-body">
                  <form action = "#" method="POST">
                  	{% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">First Name</label>
                          <input type="text" name = "first_name" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <input type="text" name = "last_name" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone Number</label>
                          <input type="text" name = "phone" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Add Member</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}
  
{% block javascript %}

{% endblock javascript %}