{% extends 'dashboard/dashboard.html' %}

{% block dashboard_active %}{% endblock dashboard_active %}
{% block membership_active %}active{% endblock membership_active %}
{% block transactions_active %}{% endblock transactions_active %}
{% block loans_active %}{% endblock loans_active %}

{% block page_title %}Transactions{% endblock page_title %}

{% block content %}

<!--
<div class = "navbar">
	<a href = "{% url 'index' %}">HOME</a>
	{% if viewingUser == 'chama_admin' %}
		<a href = "{% url 'dashboard' %}">DASHBOARD</a>
	{% endif %}
	<a href = "{% url 'logout' %}">LOG OUT</a>
</div>
-->

	<div class= "content" id = "content">

		<div class = "content_row">

			

				<div class = "content_column">

					<div class="info_container">
						<div class = "info_content">
							<div class = "info_title">
								<h3>MEMBER INFO</h3>
							</div>

							<table class = "info_table">
								<tr>
									<td><h4>Name</h4></td>
									<td>{{ userInfo.user.first_name }} {{ userInfo.user.last_name }}</td>
								</tr>

								<tr>
									<td><h4>Phone</h4></td>
									<td>{{ userInfo.user.username }}</td>
								</tr>

								<tr>
									<td><h4>Role</h4></td>
									<td>{{ userGroup }}</td>
								</tr>

								<tr>
									<td><h4>Chama</h4></td>
									<td> {{ userInfo.chamaID.chamaName }}</td>
								</tr>
							</table>

						</div>
					</div>
					
					<div class="info_container">
						<div class = "info_content">
							<div class = "info_title">
								<h3>FUNDS</h3>
							</div>
							<table class = "info_table">
								<tr>
									<td><h2 class="funds">{{ funds }}</h2></td>
								</tr>
							</table>
						</div>
					</div>

				</div>

		</div><!-- End of content_row -->
	</div><!-- End of container -->










          <div class = "row">

            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-success">
                  <h4 class="card-title">Transactions ({{ numberOfTransactions }})</h4>
                  <p class="card-category">All your transactions will be displayed here</p>
                </div>
                <div class="card-body table-responsive">

                {% if not page_object %}

                  <p style="color: red; text-align: center; font-size: 20px;">No Transactions yet</p>

                {% else %}

                  <table class="table table-hover">
                    <thead class="text-success">
                      <th>Event</th>
                      <th>Amount</th>
                      <th>Date</th>
                    </thead>
                    <tbody>

                      {% for transaction in page_object %}

                        <tr>
                          <td>{{ transaction.transactionType }}</td>
                          <td>{{ transaction.amount }}</td>
                          <td>{{ transaction.transactionDate|date:"d M y" }}</td>
                        </tr>

                      {% endfor %}

                    </tbody>
                  </table>

                {% endif %}

                </div>
              </div>
            </div>

    <ul class="pagination pagination-info">

      {% if page_object.has_previous %}
        <li class="page-item"><a href="?page={{ page_object.previous_page_number }}" class="page-link"> prev</a></li>
        <li class="page-item"><a href="?page=1" class="page-link">1</a></li>
      {% endif %}

      <li class=" active page-item"><a href="#" class="page-link">{{ page_object.number }}</a></li>
      

      {% if page_object.has_next %}
        <li class="page-item"><a href="?page={{ page_object.paginator.num_pages }}" class="page-link">{{ page_object.paginator.num_pages }}</a></li>
        <li class="page-item"><a href="?page={{ page_object.next_page_number }}" class="page-link">next </a></li>
      {% endif %}
      
    </ul>

          </div>

{% endblock content %}