{% extends 'dashboard/dashboard.html' %}

{% block title %} Transactions {% endblock title %}
{% block mobile_title %}TRANSACTIONS{% endblock mobile_title %}

{% block content %}
	
	<div class= "add_record_row">
		<a href = "{% url 'transactionsform' %}">Add New Transaction</a>
	</div>

	<div class = "display_records_row">

		{% if not transactions %}
			<h1 style="color: red; text-align: center;">No Transactions yet</h1>
		{% else %}

			<table class="info_table">
				<tr>
					<th>Transaction Type</th>
					<th>Member Name</th>
					<th>Amount</th>
					<th>Date</th>
				</tr>

				{% for transaction in transactions %}

					<tr>
						<td> {{ transaction.transactionType }} </td>
						<td> {{ transaction.memberID.user.first_name }} {{ transaction.memberID.user.last_name }}</td>
						<td> {{ transaction.amount }}</td>
						<td> {{ transaction.transactionDate|date:"d.m.y"}}</td>
					</tr>

				{% endfor %}

			</table>
		{% endif %}

	</div>

{% endblock content %}