{% extends 'dashboard/dashboard.html' %}

{% block title %} Transactions {% endblock title %}
{% block mobile_title %}TRANSACTIONS{% endblock mobile_title %}

{% block content %}
	
	<div class= "add_record_row">
		<a href = "{% url 'transactionsform' %}">Add New Transaction</a>
	</div>

	<div class = "display_records_row">

		<table class="info_table">
			<tr>
				<th>Transaction Type</th>
				<th>Member Name</th>
				<th>Amount</th>
				<th>Date</th>
			</tr>

			{% for transaction in transactions %}

				<tr>
					<td> {{ transaction.transactionType }} </td>
					<td> {{ transaction.memberID.firstName }} {{ transaction.memberID.secondName }}</td>
					<td> {{ transaction.amount }}</td>
					<td> {{ transaction.transactionDate }}</td>
				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock content %}